body{
	background-color: #EDF0F5 !important;
}

#contentWrap{
    display: none;
	height: 90%;
}

.panel-body{
	padding:10px !important;
	padding-top:0px !important;
}

#chatWrap{
	height:90%;
}

#panelInfo{
	height:10%;
}

#theme-selector{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

#dropdown-theme{
	position: relative !important;
	float: none !important;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

#nickWrap{
	width: 50% !important;
	text-align: center !important;
	margin: 0 auto !important;
	margin-top: 10px;
	display: none;
}

#chat {
    position: relative !important;
    width: 100% !important;
    float: left !important;
    min-height: 100px !important;
    height: 80% !important;
    overflow: auto !important;
    margin-bottom: 2% !important;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

#message-box{
	float: right !important;
	width: 100% !important;
}

#send-message{
	text-align: center;
	margin: 0 auto;
}

#usersPanel {
    display: none;
    margin-top: 10px;
    opacity: 0.7;
}

#usersPanel:hover{
	opacity:0.9;
}

.page-header{
	padding-bottom: 9px !important;
	margin: 40px 0px 20px !important;
	border-bottom: 1px solid #EEE !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	text-align: center !important;
}

#login-error{
	display:none;
	margin-top:10px;
}

.force-pad{
	padding: 7px 10px !important;
}
	
.left-block{
	width: 90% !important;
}

.right-block{
	float: right;
	position: relative;
	left: 10px;
	bottom: 60px;
}

.center-block{
	float: none !important; 
	width: 100% !important;
}

.left{
	float: left;
}

.avatar-chat {
	border: 1px solid lightblue;
	height: 70px;
	background-color: white !important;
}

.avatar-users {
	border: 1px solid lightblue;
	margin: 0.5%;
	height: 80%;
	background-color: white !important;
}